/* DEFAULTS
----------------------------------------------------------*/
body {
    /* SILVER background: #b6b7bc; */
    /* light blue background #e5eae8*/
    background: #457687;
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #696969;
}

a:link, a:visited {
    color: #034af3;
    font-weight: 700;
}

a:hover {
    color: #1d60ff;
    text-decoration: none;
}

main a:active {
    color: #034af3;
}

main1 a:active {
    color: #034af3;
}

p {
    margin-bottom: 10px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/


h1, h2, h3, h4, h5, h6 {
    font-size: 1.5em;
    color: Black;
    /* font-variant:  small-caps;*/
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1 {
    font-size: 1.6em;
    font-family: Verdana;
    color: #4e667d;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-weight: bold;
}

h2 {
    /* font-size: 1.5em;
    font-weight: 600;*/
    font-size: 1.0em;
    font-family: Verdana;
    font-weight: bold;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2 {
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/
.dropdown-menu {
	height: 26px;
	font-size: 10pt;
	padding: 2px;
	border: 1px solid #a9a9a9;
    width: 160px;
}

.search {
    font-size: 12pt;
    width: 500px;
    font-weight: bold;
}

.searchTerm {
    font-size: 12pt;
    width: 500px;
    font-weight: bold;
    color: #4e667d ;
    font-style: italic;
}

.page {
    width: 1050px; /*960px*/
    background-color: #fff;
    margin: 20px auto 0px auto;
    /*border: 1px solid #496077;*/
}

.header {
    position: relative;
    margin: 0px;
    padding: 0px; /*background: #4b6c9e;*/
    /* background: #4E5869; */
    background: #457687;
    width: 100%;
}

    .header h1 {
        border-style: none;
        border-color: inherit;
        border-width: medium;
        font-weight: 700;
        margin: 0px;
        padding: 0px 0px 0px 20px;
        color: #f9f9f9;
        line-height: 2em;
        font-size: 2em;
        width: 414px;
    }

.main {
    /*color: Black;
    padding: 0px 12px;
    margin: 12px 8px 8px 8px;
    min-height: 400px;*/
    color: Black;
    min-height: 300px;
    width: 100%;
}

.mainPadding {
    padding: 0px 8px; /*space between content place holder and text 0px-> 1st(top bottom) 8px--> 2nd(right left)*/
    /*padding: 0px 0px 0px 8px; top right bottom left*/
   /* margin: 0px 18px 0px 18px; */ /*space between page and content place holder*/
}

.mainPaddingNested {
    margin-left: 180px;
    padding-left: 10px;
    padding-right: 5px;
}

.mainPaddingNested1 {
    /*margin-left: 180px;*/
    padding-left: 10px;
    padding-right: 5px;
    /*width: 851px;*/
}

.mainPaddingNestedImages {
    margin-left: 180px;
    padding-left: 10px;
    padding-right: 5px;
    padding-top: 0px;
    width: 79%;
    height: 100%;
}

.mainBradcrum {
    padding: 5px;
    padding-left: 12px;
}

.leftCol {
    padding: 6px 0px;
    margin: 12px 18px 8px 18px;
    width: 200px;
    min-height: 200px;
}

.list-unstyled {
    list-style-type: none;
    line-height: 5pt;
}

.list-unstyled li {
    display: inline;
}

.footer {
    color: #000;
    background: #fff;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: 9pt;
    width: 100%;
    font-size: 9pt;
    padding-bottom: 8px;
}

.footer p {
    line-height: 5pt;
}

hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ddd;
    padding: 0; 
}

.footer a {
    color: blue;
    text-decoration: none;
    font-weight: normal;
}

a:hover {
    color: #777;
}

.sidebar {
    float: left;
    width: 180px;
    height: 670px;
    background-color: #4E5869;
    padding-bottom: 10px;
    padding-top: 0px;
    z-index: 5;
}

.sidebar1 {
    float: left;
    width: 180px;
    height: 670px;
    background-color: #4E5869;
    padding-bottom: 10px;
    padding-top: 0px;
    z-index: 5;
}

.content {
    padding: 10px 0;
    width: 100%;
    background-color: #fff;
    height: 650px;
}

.content1 {
    /*padding: 10px 0;*/
    width: 17%;
    background-color: #fff;
    height: 630px;
}

content2 {
    /*padding: 10px 0;*/
    width: 82%;
    background-color: #fff;
    height: 630px;
}
/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink {
    /* background-color: #3a4f63;#2e343f#1f232a#171a1f#272c34*/
    background-color: #35383f;
    width: 100%;
    font: bold 13px Arial;
}

div.menu {
    padding: 4px 4px 4px 8px;
}

div.menu ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	width: auto;
	z-index: 1;
}

div.menu ul li a, div.menu ul li a:visited {
	/* #465c71 #2c3a48*/
	background-color: #343d46;
	border: 1px #4e667d solid;
	color: #f9f9f9;
	display: block;
	line-height: 1.35em;
	padding: 4px 20px;
	text-decoration: none;
	white-space: nowrap;
	margin-right: 2px;
}

div.menu ul li a:hover {
	/*bfcbd6*/
	background-color: #98a2ab;
	color: #465c71;
	text-decoration: none;
}

div.menu ul li a:active {
	background-color: #465c71;
	color: #cfdbe6;
	text-decoration: none;
}


.menu a.static.selected {
    background-color: #98a2ab !important;
    color: #465c71 !important;
    text-decoration: none !important;
}

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset {
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p {
	margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label {
	display: block;
}

fieldset label.inline {
	display: inline;
}

legend {
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry {
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry {
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo {
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/

.clear {
    clear: both;
}

.title {
	display: block;
	float: none;
	text-align: center;
	/*padding: 13px,3px,0px,3px;*/
	width: auto;
}

.loginDisplay {
	font-size: 1.1em;
	display: block;
	text-align: right;
	padding: 10px;
	color: White;
}

.loginDisplay a:link {
	color: white;
}

.loginDisplay a:visited {
	color: white;
}

.loginDisplay a:hover {
	color: white;
}

.failureNotification {
    font-size: 1.2em;
    color: Red;
}

.bold {
    font-weight: bold;
}

.submitButton {
    text-align: right;
    padding-right: 10px;
}

/* NIST Menu
----------------------------------------------------------*/
.ui-autocomplete {
    width: 348px;
    max-height: 515px;
    overflow-y: auto; /* prevent horizontal scrollbar */
    overflow-x: hidden; /* add padding to account for vertical scrollbar */
    z-index: 1000 !important;
}

.ui-menu .ui-menu-item a.ui-corner-all:hover, .ui-menu .ui-menu-item a.ui-corner-all:focus, .ui-menu .ui-menu-item a.ui-corner-all:active {
    background: #98a2ab !important;
    color: #000;
    border-radius: 0;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    background: #ff8a00;
    border: none;
    color: #000;
    border-radius: 0;
    font-weight: normal;
}


/* New Nav Menu */
.nav-menu-box {
	background-color: #35363F;
}

.ul-menu-box {
margin: 0px;
padding: 10px;
padding-left: 5px;
font-family: sans-serif;
}

#menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#menu a {
	background-color: #343d46;
	color: #FFF;
	text-decoration: none;
	padding: 4px 15px 4px 15px;
	border: 1px #4e667d solid;
}

#menu a:hover {
	background-color:#98a2ab;
	color: #464c71;
}

#menu li {
    display:inline-block;
}
#menu ul li {
    display: block;
}
#menu li ul {
    display: none;
	margin-top:5px;
	width: 165px; /* Make at least same width as button*/
}
#menu ul li a {
    display: block;
    padding: 5px 15px 5px 15px;
    margin-left: 0px;
	margin-top: -1px;
    white-space: nowrap;
}
#menu ul li a:hover {
    
}
#menu li:hover ul {
    display: block;
    position: absolute;
}

#selected {
    background-color:#98a2ab !important;
	color: #464c71 !important;
}